@import '../../styles/variables.css';

.search {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100%;
	/* padding: 3em; */
	background-color: var(--colour-black);
	opacity: 0;
	transition: 0.3s;

	& h1 {
		font-size: var(--font-size-xxxlg);
		margin-bottom: var(--spacing-xxxs);
	}

	& section {
		position: relative;
		padding-top: 1em;
		/* border-top: 1px solid var(--colour-grey-darkest); */

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 1em;
			border-top: 1px dashed var(--colour-white);
		}
	}
}

.search--enter-done {
	opacity: 1;
}

.search__form {
	display: flex;
	margin-bottom: 2em;
}

.search__form__input-text {
	width: 30em;
	margin-right: 1em;
}

.search__results {
	display: flex;
	flex-direction: column;
	flex: 1;

	& section {
		display: flex;
		flex: 1;
	}
}

.search__results__title {
	position: relative;
	flex: 1;
	margin-top: 0;
	font-size: var(--font-size-md);
	font-weight: 500;

	& span {
		font-weight: normal;
		font-size: var(--font-size-xs);
	}

	&:before {
		content: '';
		position: absolute;
		top: -1em;
		right: calc(var(--spacing-xxlg) * -1);
		width: var(--spacing-xxlg);
		border-top: 1px solid var(--colour-white);
	}
}

.search__results__row {
	flex: 3;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	white-space: nowrap;
	margin-bottom: 1em;
}

/* -------------------------------------------------------------------------
 * Item
 * ------------------------------------------------------------------------- */

.search__results__item {
	display: inline-block;
	flex-direction: column;
	height: 100%;
	width: auto;
	/* width: 10em; */
	margin-right: var(--spacing-lg);

	& h1 {
		display: inline;
		width: auto;
		font-size: var(--font-size-sm);
		font-weight: normal;
	}
}

.search__results__item img {
	width: auto;
	height: calc(100% - 3em);
	/* margin-bottom: 1em; */
}
