@import '../../styles/variables.css';

.search-box {
	display: flex;
}

.search-box--is-active {
	width: 100%;
}

.search-box__back-button {
	margin-right: 1px;
}

.search-box__search-icon {
	padding: 0;
	background-color: var(--colour-black);

	@nest .search-box--is-active & {
		background-color: var(--colour-grey-darker);
	}
}

.search-box__form {
	flex: 1;

	& form {
		display: flex;
	}

	@nest .search-box--is-active & {
		/* border: 1px solid var(--colour-white); */
	}
}

input.search-box__input {
	z-index: 1;
	width: 6rem;
	height: var(--spacing-xxlg);
	margin-right: 2px;
	padding: var(--spacing-xs);
	font-size: var(--font-size-sm);
	background-color: var(--colour-black);
	border: none;
	transition: 0.3s var(--ease-in-out-quart);

	&:focus {
		outline-style: solid;
		outline-width: 1px;
		outline-offset: 0;
	}

	@nest .search-box--is-active & {
		width: calc(100% - (var(--spacing-xlg)) - 2px);
		margin-right: 2px;
		background-color: var(--colour-grey-darkest);
	}
}
