@import '../../styles/variables.css';

.search {
	padding: 4em 2em 2em 2em;
	background-color: var(--colour-black);
} 

h2 {
	padding-top: var(--spacing-sm);
	padding-left: var(--spacing-sm);
	margin-bottom: 0;
}

h2 span {
	font-weight: normal;
	font-size: var(--font-size-xs);
}

.search__results__row {
	display: flex;
}

.search__results__item {
	width: 10em;
	margin: var(--spacing-sm);

	& h1 {
		font-size: var(--font-size-md);
		font-weight: normal;
	}
}

.search__results__item img {
	width: 10em;
}