@import '../styles/variables.css';

.landing__toggle-animation-button {
	position: absolute;
	top: var(--spacing-xxlg);
	left: var(--spacing-md);
	z-index: 2;
	border-radius: 0;
	padding: var(--spacing-md) var(--spacing-lg) var(--spacing-md)
		var(--spacing-xlg);

	/* border: 1px solid var(--colour-grey-lightest); */

	color: var(--colour-highlight);
	background-color: var(--colour-black);
	font-size: var(--font-size-xxs);
	font-weight: 700;
}

.modal .newselfwales-page__special-care-title {
	color: var(--colour-primary);
}
