@import '../styles/variables.css';

.newselfwales-page__toggle-animation-button {
	position: absolute;
	top: var(--spacing-xxlg);
	left: var(--spacing-md);
	z-index: 2;
	border-radius: 0;
	padding: var(--spacing-md) var(--spacing-lg) var(--spacing-md)
		var(--spacing-xlg);

	/* border: 1px solid var(--colour-grey-lightest); */

	color: var(--colour-highlight);
	background-color: var(--colour-black);
	font-size: var(--font-size-xxs);
	font-weight: 700;
}

.modal .newselfwales-page__special-care-title {
	color: var(--colour-primary);
}

/* 
 * SEARCH 
 * ------------------------------------------------------------------------- */

.newselfwales-page__search-box {
	position: absolute;
	top: var(--spacing-xs);
	right: var(--spacing-xxxxs);
	left: var(--spacing-xxxxs);
	z-index: 2;
	width: calc(100% - (var(--spacing-xxxs) * 2));
	font-size: var(--font-size-xlg);

	@media (--screen-md) {
		max-width: 12em;
	}
}

.newselfwales-page__search-filters {
	position: absolute;
	top: 4.55rem;
	right: 0.1rem;

	@media (--screen-md) {
		width: auto;
		top: 1.2em;
		left: 22em;
		right: auto;
	}
}

.newselfwales-page__search-results {
	position: absolute;
	z-index: 3;
	top: 7em;
	left: 0;
	width: 100%;
	height: calc(100% - 7em);

	@media (--screen-md) {
		top: 5em;
		height: calc(100% - 5em);
	}

	& .image-feed__images {
		padding-left: 5px;
		padding-right: 5px;
	}

	& .search-results__notification {
		position: absolute;
		top: calc(50% - 4em);
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
}

.newselfwales-page__search-suggestions {
	position: absolute;
	z-index: 4;
	top: 10em;
	left: var(--spacing-lg);
	width: 100%;
	height: calc(100% - 10em);
/*
	@media (--screen-md) {
		top: 5em;
		height: calc(100% - 5em);
	}
	*/
}
/* 
 * OVERLAY
 * ------------------------------------------------------------------------- */

.newselfwales-page__overlay {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: var(--colour-black);
}

/* 
 * IMAGE FEED
 * ------------------------------------------------------------------------- */

.newselfwales-page__image-feed-loader {
	position: absolute;
	top: var(--spacing-lg);
	right: var(--spacing-lg);
	padding: var(--spacing-sm);
	background-color: var(--colour-black);
	font-size: var(--font-size-sm);
}

.newselfwales-page__image-feed-loader-text {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	margin-left: -125px;
	margin-top: -125px;
	padding: var(--spacing-sm);
	/* background-color: var(--colour-black); */
	color: var(--colour-grey-lightest);
	font-size: var(--font-size-sm);
	text-align: center;
	

	@media (--screen-md) {
		font-size: var(--font-size-md);
	}

	& p {
		animation: fadeIn 1s infinite alternate;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0.5;
	}
}
