/* body {
  font-family: Lekton, sans-serif;
  background: #080808;
  color: #e6007e;
  text-align: center;
}

h1,
h2,
h3 {
  margin: 0.5em auto 0;
  font-size: 2em;
  text-transform: uppercase;
} */

.photobooth {
  & video {
    margin: 1em auto 0;
    transform: scaleX(-1);
  }

  & canvas {
    margin: 1em auto 0;
    transform: scaleX(-1);
    border: 3px solid #e6007e;
  }

  & button {
    font-family: Lekton, sans-serif;
    font-size: 1em;
    background-color: rgb(41, 41, 41);
    border: 1px solid rgb(41, 41, 41);
    color: white;
    padding: 1em;
    text-transform: uppercase;
    margin-right: 1em;
    margin-top: 1em;
  }

  & button:focus {
    outline: none;
  }

  & button:hover {
    background-color: #080808;
    border: 1px solid #e6007e;
    color: #e6007e;
  }

  & button:disabled {
    background-color: #080808;
    border: 1px solid #666666;
    color: #666666;
  }

  & ul li:first-child,
  & ul li:last-child {
    border-bottom: 1px solid #e6007e;
  }

  & :-moz-placeholder {
    font-family: Lekton, sans-serif;
    background: #080808;
    color: #444;
  }

  & ::-webkit-input-placeholder {
    font-family: Lekton, sans-serif;
    background: #080808;
    color: #444;
  }
}

#stage2 {
  display: none;
}

#stage4 {
  display: none;
}

#stage3 {
  display: none;
}

#preview {
  float: left;
  margin-left: 50px;
}

#formdeets {
  text-align: left;
  float: left;
  margin-left: 40px;
}

.selfieForm label {
  width: 150px;
  margin-top: 3px;
  display: inline-block;
  float: left;
  padding: 3px;
}

.selfieForm ul {
  width: 750px;
  list-style-type: none;
  list-style-position: outside;
  margin: 0px;
  padding: 0px;
}

.selfieForm li {
  padding: 12px;
  border-bottom: 0.5px solid #444;
  position: relative;
}

.selfieForm input {
  height: 30px;
  width: 350px;
  padding: 5px 8px;
  border: 1px solid #e6007e;
  background: #080808;
  color: #ccc;
}

#interests {
  width: 550px;
}

.formErrors {
  color: red;
  font-size: 0.8em;
}

.formErrors.interests {
  padding-left: 150px;
  padding-top: 0.9em;
}

.formErrors.email {
  padding-left: 1em;
}
