@import '../../styles/variables.css';

.share-box {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	/*
  margin-top: 3em;
	margin-bottom: 4em;
  padding-left: var(--spacing-md);
  

	&::before {
		position: absolute;
		left: -0.5em;
		content: '';
		height: 1em;
		border-left: 1px solid var(--colour-white);
  }
  */
}

.share-box__title {
	/* position: absolute;
	top: 0.4em;
	left: -4em; */

	font-size: var(--font-size-xs);
	line-height: 1;
	@apply --font-uppercase;
}

.share-box__icons {
	margin-left: var(--spacing-xxxs);
	line-height: 1;
	font-size: var(--font-size-xlg);

	& a:link,
	& a:visited {
		color: var(--colour-white);
	}

	& a:hover,
	& a:active {
		color: var(--colour-highlight);
		text-decoration: none;
	}
}

/* .share-box__icon {
	margin-left: var(--font-size-xxxs);
} */
