@import '../../styles/variables.css';

.photo-booth-modal {
	display: flex;
	position: absolute;
	flex-direction: column;
	top: 0;
	right: 0;
	height: 100%;
	width: 20%;
	min-width: 30em;
	padding: 10vh 2em 2em 2em;
	background-color: var(--colour-black);
	/* background-color: rgba(0, 0, 0, 0.8); */
	transition: 0.3s;
}

.photo-booth-modal--full {
	width: 100%;
}

.photo-booth-modal--is-blink {
	background-color: var(--colour-white);
}

.photo-booth-modal__buttons {
	display: flex;

	& .button {
		margin: 0 1em;
	}
}

.photo-booth-modal__camera-button {
	margin: 15px;
	background-color: var(--colour-primary);
	width: 6em;
	height: 6em;
	border-radius: 3em;
	@apply --font-uppercase;

	box-shadow: 0 0 0 5px var(--colour-black),
		0 0 0 15px var(--colour-primary-darkest);
}

.photo-booth-modal__photo-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.photo-booth-modal__title {
	@apply --font-uppercase;
	font-size: var(--font-size-lg);
}

.photo-booth-modal__silhouette {
	margin: 1em auto 1em;
	max-height: 15em;
	max-width: 15em;
	background-color: var(--colour-grey-darker);
}

.photo-booth-modal__video {
	margin: 1em auto 1em;
	max-height: 25em;
	max-width: 25em;
	transform: scaleX(-1);
}

.photo-booth-modal__video--feed {
}

.photo-booth-modal__video--preview {
	border: 3px solid #e6007e;
}

.photo-booth-modal__send-selfie {
	display: flex;
}

.photo-booth-modal__send-selfie__preview {
	margin-right: 1em;
}

.photo-booth-modal__footer {
	display: flex;
	align-items: center;
	margin-top: auto;
	text-align: center;
}

.photo-booth-modal__nsw-logo {
	max-width: 20em;
	margin-left: auto;
	height: auto;
}
