@import '../../styles/variables.css';

.modal.image-modal {
	display: flex;
	flex-direction: column;
	height: calc(100% - 2em);
	padding: var(--spacing-xxxlg) var(--spacing-sm) var(--spacing-sm);

	@media (--screen-sm) {
		width: 80%;
		height: 50vh;
		max-width: 80em;
		padding: var(--spacing-sm);
	}

	&.image-modal--entered {
	}

	/* Prevent scrollbars from showing when image is animating */
	&.image-modal--entering .modal__inside {
		overflow: hidden;
	}
}

.image-modal .modal__inside {
	@media (--screen-sm) {
		display: flex;
		flex-direction: row;
		padding: var(--spacing-sm);
	}
}

.image-modal__image-holder {
	height: 50%;
	background-color: var(--colour-grey-darkest);
	padding: var(--spacing-xs);
	margin-bottom: 1em;
	opacity: 0;
	transition: 0.3s;

	@media (--screen-sm) {
		width: 70%;
		height: 100%;
		margin-right: var(--spacing-lg);
		margin-bottom: 0;
	}

	@nest .image-modal--entered & {
		opacity: 1;
	}
}

.image-modal__image {
	height: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 1em;
}

.image-modal__info {
	/* margin-right: var(--spacing-xlg); */
	opacity: 0;
	transition: 0.6s;

	@media (--screen-sm) {
		position: relative;
		width: 30%;
		padding-top: 4em;
	}

	@nest .image-modal--entered & {
		opacity: 1;
	}
}

.image-modal__type {
	margin-bottom: 0;
	@apply --font-uppercase;
	font-size: var(--font-size-sm);
	font-weight: 600;
	color: var(--colour-grey-light);

	@media (--screen-sm) {
		font-size: var(--font-size-xs);
	}
}

.modal h1.image-modal__title {
	font-size: var(--font-size-xlg);
	font-family: var(--font-secondary);
	text-transform: none;
	line-height: 1.1;
	letter-spacing: 0;
	margin-right: 0;
	margin-bottom: var(--spacing-xs);
	color: var(--colour-white);

	@media (--screen-sm) {
		font-size: var(--font-size-xlg);
	}
}

.image-modal__content {
	font-size: var(--font-size-md);
	color: var(--colour-grey-lighter);

	@media (--screen-sm) {
		font-size: var(--font-size-md);
	}
}

.image-modal__footer {
	position: absolute;
	bottom: 0;
	display: flex;
	width: 100%;
	align-items: baseline;
	/* justify-content: space-around; */
}

.image-modal__date {
	margin-left: auto;
	/* font-family: var(--font-primary); */
	font-size: var(--font-size-sm);
	color: var(--colour-grey-lighter);
	@apply --font-uppercase;
}

.image-modal__collection-link {
}
