@import '../../styles/variables.css';

.info-box {
	position: absolute;
	left: var(--spacing-xxs);
	bottom: 1em;
	right: var(--spacing-xlg);
	z-index: 5;
	width: calc(100% - 1em);
	background-color: var(--colour-black);
	padding: 1em;
	/* padding: var(--spacing-lg) var(--spacing-lg) var(--spacing-lg); */

	@media (--screen-sm) {
		right: auto;
		left: var(--spacing-xxs);
		max-width: 40rem;
		padding: var(--spacing-xxlg) var(--spacing-xxlg) var(--spacing-xxlg);
	}

	&.info-box--is-full-size {
		top: 1em;
		width: calc(100% - 1em);
		height: calc(100% - 2em);
		padding-top: 2.9em;

		& p:first-of-type {
			position: relative;
			font-size: var(--font-size-lg);
			margin-bottom: var(--spacing-md);
			padding-bottom: var(--spacing-xlg);

			&::after {
				position: absolute;
				left: 0;
				bottom: 0;
				content: '';
				width: 1em;
				height: 1px;
				border-bottom: 1px solid var(--colour-white);
			}
		}

		@media (--screen-sm) {
			/* left: auto; */
			/* height: calc(100% - var(--spacing-xs) * 2); */
		}
	}

	& h2 {
		font-family: var(--font-primary);
		font-size: var(--font-size-md);
		/* font-weight: 500; */
		@apply --font-uppercase;
	}
}

.info-box__inside {
	position: relative;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	height: 100%;
	padding-right: 1em;

	&::-webkit-scrollbar-track {
		/* background-color: var(--colour-grey-darkest); */
	}

	&::-webkit-scrollbar {
		width: 2px;
		margin-right: -1em;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--colour-grey-darker);
	}
}

.info-box__title {
	margin-top: 0;
	margin-right: var(--spacing-lg);
	color: var(--colour-black);
	font-family: Barlow, Helvetica, Arial, sans-serif;
	font-size: 2.4em;
	text-shadow: 0 -1.5px var(--colour-highlight),
		-1.5px 0 var(--colour-highlight), 1.5px 0 var(--colour-highlight),
		0 1.5px var(--colour-highlight);

	@media (--screen-sm) {
		margin-right: 0;
		font-size: var(--font-size-xxxxlg);
	}
}

.info-box__title-image {
	width: calc(100% - 4em);
	max-width: 29em;
	height: auto;

	/* margin-top: var(--spacing-md); */
	margin-bottom: var(--spacing-xxxs);

	@nest .info-box--is-full-size & {
		width: calc(100% - 4em);
		margin-bottom: var(--spacing-lg);
	}
}

.info-box__excerpt {
	margin-top: 0;
	margin-bottom: 0;
	font-size: var(--spacing-sm);

	@media (--screen-sm) {
		font-size: var(--spacing-md);
	}
}

.info-box__toggle-button {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	width: var(--spacing-xlg);
	height: var(--spacing-xlg);
	padding-top: 0.3em;
	font-size: var(--font-size-xlg);
	/* color: var(--colour-highlight); */
	background-color: var(--colour-black);
}

.info-box__more-button {
	position: absolute;
	top: 0;
	right: 0;
	width: var(--spacing-xlg);
	height: var(--spacing-xlg);
	max-width: 14em;
	margin-bottom: auto;
	padding: 0;
	font-size: var(--font-size-xlg);
	/* color: var(--colour-highlight); */
	background-color: transparent;
}

.info-box__logo-holder {
	margin-top: var(--spacing-xxlg);
	/* margin-bottom: var(--spacing-xxxlg); */
}

.info-box__logo {
	max-width: 6em;
	margin-right: var(--spacing-xxlg);
}

.info-box__logo--dxlab {
	max-width: 6em;
}
