@import '../../styles/variables.css';

.info-box {
  position: absolute;
  left: 0;
  bottom: 0;
  right: var(--spacing-xlg);
  z-index: 5;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: var(--colour-black);
  padding: var(--spacing-md) var(--spacing-md) var(--spacing-md);

  @media (--screen-sm) {
    right: auto;
    left: 0;
    max-width: 40rem;

    /* background-color: rgba(10, 10, 10, 0.95); */
    padding: var(--spacing-sm) var(--spacing-xlg) var(--spacing-xlg);
  }

  &.info-box--full {
    width: 100%;
    height: 100%;
    padding-top: var(--spacing-md);

    @media (--screen-sm) {
      left: auto;
      height: calc(100% - var(--spacing-xs) * 2);
    }
  }
}

.info-box__title {
  margin-top: 0;
  margin-right: var(--spacing-lg);
  color: var(--colour-black);
  font-family: Barlow;
  letter-spacing: 0.05em;
  font-size: 2.4em;
  text-shadow: 0 -1px var(--colour-highlight), -1px 0 var(--colour-highlight),
    1px 0 var(--colour-highlight), 0 1px var(--colour-highlight);

  @media (--screen-sm) {
    margin-right: 0;
    font-size: var(--font-size-xxxxlg);
  }
}

.info-box__toggle-button {
  position: absolute;
  right: var(--spacing-xxxs);
  font-size: var(--font-size-xlg);
  color: var(--colour-highlight);
}

.info-box__more-button {
  font-size: var(--font-size-xs);
  max-width: 14em;
  margin-bottom: auto;
}

.info-box__logo-holder {
  margin-top: var(--spacing-xxlg);
  margin-bottom: var(--spacing-xxxlg);
}

.info-box__logo {
  max-width: 8em;
  margin-right: var(--spacing-xxlg);
}

.info-box__logo--dxlab {
  max-width: 6em;
}
